{% extends "layout.html" %}

{% block content %}

<table class="table" id="table">
	<tr>
		<thead>
			<th>ID</th>
			<th>NAME</th>
			<th>EMAIL</th>
			<th>PASSWORD</th>
			<th>ADDRESS</th>
			<th>CITY</th>
			<th>STATE</th>
			<th>ZIP CODE</th>
		</thead>
	</tr>
{% for customer in customers %}
	<tr>
		<tbody>
			<td>{{customer.id}}</td>
			<td>{{customer.name}}</td>
			<td>{{customer.email}}</td>
			<td>{{customer.password}}</td>
			<td>{{customer.address}}</td>
			<td>{{customer.city}}</td>
			<td>{{customer.state}}</td>
			<td>{{customer.zipcode}}</td>
		</tbody>
	</tr>
{% endfor %}
</table>
<script>
	$(".dash-sidebar").find("active").removeClass("");
		$("#customer-detail").addClass("active");
</script>
{% endblock content %}