{% extends "layout.html" %}

{% block content %}
<a href="/create" class="btn btn-primary">Add Product</a>
<input type="text" class="form-control col-md-4" id="srch" placeholder="Search here.....">
<table id="table" class="table">
	<tr>
			<th>ID</th>
			<th>IMAGE</th>
			<th>NAME</th>
			<th>PRICE</th>
			<th>CATEGORY</th>
			<th>Action</th>
	</tr>
{% for product in products %}
	<tr>
			<td>{{product.id}}</td>
			{% load static %}
			<td><img width="80" src="{% static '/images/' %}{{product.image}}"/></td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.category}}</td>
			<td><a href="/edit/{{product.id}}">Edit</a>|<a href="/delete/{{product.id}}">Delete</a> </td>
	</tr>
{% endfor %}
</table>
<form method="post" action="/" id="pagination">
	{% csrf_token %}
	<button type="submit" value="prev" name="prev" id="prev">Prev</button>
	<input type="number" value="{{page}}" name="page" id="page">
	<button type="submit" value="next" name="next" id="next">Next</button>

</form>

<script>
	$(document).ready(()=>{
		$(".dash-sidebar").find("active").removeClass("");
		$("#product-detail").addClass("active");
		$("#srch").keyup(()=>{
			$.ajax({
				data:{srch:$("#srch").val()},
				url:'/srch',
				method:'GET',
				success:function(data){
					console.log(data);
					$("tr").not("tr:first").remove();
					
					for(d of data){
						var html="";
						html+="<tr>";
							html+="<td>"+d.id+"</td>";
							html+="<td><img class'rounded width='80' src='{% static '/images/' %}"+d.image+"' /></td>";
							html+="<td>"+d.name+"</td>";
							html+="<td>"+d.price+"</td>";
							html+="<td>"+d.category+"</td>";
							html+="<td><a href='/edit/"+d.id+"'>edit</a> | <a href='/delete/"+d.id+"'>delete</a> </td>";
						html+="</tr>"

						$("table").append(html);
					}
				},error:function(error){
					console.log(error)
				},complete:function(){
					console.log("complete")
				}
			})
		})
	})
</script>
{% endblock content %}

