<!-- /*------Registration Form---------*/ -->

{% extends "home.html" %}
{% load static %}
{% block content %}
<body >

	

<form method="POST" action="/signup" enctype="multipart/form-data">
								

   {% csrf_token %}
   <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>Full Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label for="address"><b>Address</b></label>
    <input type="text" placeholder="Enter Password" name="address" required>
    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter Password" name="city" required>
    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter Password" name="state" required>
    <label for="zip"><b>Zip Code</b></label>
    <input type="text" placeholder="Enter zip code" name="zipcode" required>
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
</form>



</body>
</html>
<script>
    
        $(".menu").find("active").removeClass("");
      $("#signup").addClass("active");
    
</script>
{% endblock content %}